extends ../layout
block content
  section.content-header
    .container-fluid 
      .row.mb-2
        .col-sm-6
          h1 Quiz
        .col-sm-6
          ol.breadcrumb.float-sm-right
            li.breadcrumb-item
              a(href='#') Home
            li.breadcrumb-item.active Quiz

  section.content
    .container-fluid
      .row
        .col-md-12
          .card
            .card-header
              h3.card-title Quiz list
              .card-tools
                .input-group-append
                  a.btn.btn-success.btn-sm(href='/quiz/create')
                    i.fas.fa-plus
                    | create
            .card-body
              table.table.table-bordered
                thead
                  tr
                    th(style='width: 10px') #
                    th Title
                    th Description
                    th Questions
                    th(style='width: 40px') Status
                    th #
                tbody
                each quiz in quizList
                  tr
                    td 1.
                    td=quiz.title
                    td=quiz.description
                    td
                      if quiz.questions.length
                        a(href='/questions/#{quiz._id}') #{quiz.questions.length} questions
                       
                      
                    td
                      if quiz.isActive
                        span.badge.bg-success Active
                      else 
                        span.badge.bg-danger Deactive
                    td
                      a.btn.btn-info.btn-sm(href='/quiz/qrcode/#{quiz._id}' target='_blank') Qr Code
                      a.btn.btn-info.btn-sm(href='/questions/create/#{quiz._id}')
                        i.fas.fa-plus 
                      a.btn.btn-info.btn-sm(href='/quiz/#{quiz._id}')
                        i.fas.fa-pencil-alt
                      a.btn.btn-danger.btn-sm(href='/quiz/delete')
                        i.fas.fa-trash
                  
            .card-footer.clearfix
              ul.pagination.pagination-sm.m-0.float-right
                li.page-item
                  a.page-link(href='#') «
                li.page-item
                  a.page-link(href='#') 1
                li.page-item
                  a.page-link(href='#') 2
                li.page-item
                  a.page-link(href='#') 3
                li.page-item
                  a.page-link(href='#') »
