html
    head
    body
        h1 QR Code Page
        img(src="#{qrcode}")
        ul#result
        button#start_quiz(type="button") Start Quiz

        script(src='https://cdn.socket.io/4.7.5/socket.io.min.js' integrity='sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO'
            crossorigin='anonymous')
        script.
            const socket = io('ws://localhost:3000');
            socket.on('join', (message) => {

                if (message.status == 'success') {
                    const messages = document.getElementById('result');
                    const li = document.createElement('li');
                    li.textContent = `${message.data.email}: ${message.data.username}`;
                    messages.appendChild(li);
                }
            });
            document.getElementById('start_quiz').addEventListener('click', (e) => {
                console.log('pressed');
                var quizObj = !{quiz}
                socket.emit('start_quiz', {code: 200, status: 'success', quiz: quizObj}); 
                
            });

